html{}

body {

    background-color: #ffffff;
    background-position: bottom;
    background-image: url('/images/bg2.png');
    color: #333;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 87.5%;
   line-height: 1.5;
     padding-top: 20px;
}

/*PAGE STRUCTURE ::: Layout*/
.container {
    width: 90%;
    min-width: 1006px;
    max-width: 1260px;
    text-align: left;
    margin: 0 auto;
    background-color: #ffffff;
    
    height: 100%;
}


/* @group Header */
header {
    background: #ffffff url('/images/BG.png');
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
   text-align: center;
}

header p {
    font-family: "Proxima Nova Condensed Regular", Calibri, "Trebuchet MS", "Gill Sans", Frutiger, Univers, "Helvetica Neue", Arial, Helvetica;
    margin: 0;
    font-weight: bold;
}

/* @end Header */
/* #Breadcrumbs */
#breadcrumbs {
    float: left;
    color: #555555;
    line-height: 180%;
    margin-bottom: 10px;

}

#breadcrumbs a {

    color: #660000;
    text-decoration: underline;
    padding: 5px 10px 5px 10px;
}

#breadcrumbs a:hover,
#breadcrumbs a:focus,
#breadcrumbs a:active {
    color: #09f;
}

/* #Breadcrumbs */
#sidebar1 {
    float: left;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 10px;

}

#sidebar1 img {
    vertical-align: top;
}

#content {
    padding: 10px 0;
    width: 57%;
    float: left;
}

#content h2 {
    font-style: normal;
    text-align: left;
    display: block;
    width: 50%;
    background-color: #DEE658;
    border: 1px solid #fff;
    padding: 0.5em 1em;
    -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 13, 0.2);
    -moz-box-shadow: 5px 5px 0 rgba(0, 0, 13, 0.2);
    box-shadow: 5px 5px 0 rgba(0, 0, 13, 0.2);
    height: 1.25em;
    margin-bottom: 0.4em;
}

#sidebar2 {
    float: left;
    width: 15%;
    padding: 10px 0;
    margin-left: 2%;
    margin-right: 2%;
    background: #93A5C4;

}

.list h2, .edit h2, .show h2, .new h2, .delete h2 {
    color: #404528;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

/* @group Nav */
nav, nav ul, nav ul li, nav ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    width: 200px;
    height: 246px;
    background-image: url('/images/massanutten-bear-bg.jpg');
    background-repeat: repeat-y;

}

nav ul {

    list-style: none;
    position: relative;
    float: left;

}

nav ul li {
    padding: 8px 0;
    position: relative;
    z-index: 3;
    text-transform: uppercase;
}

nav ul li a, nav li a.selected {
    padding: 0px 0px 2px 15px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

nav ul ul {
    background: #e2b490;
    border: 1px solid #92624b;
    left: 100%;
    top: 1px;
    width: 200px;
    display: none;
    position: absolute;
    -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);

}

nav ul ul li {
    padding: 8px 0px 6px;
    border-right: 0px none;
    float: none;

}

nav ul ul li a {
    color: #660000 !important;
    border-right: 0px none;
    white-space: normal;
    text-shadow: 0 1px 1px #343434;

}

nav ul ul li:hover {
    background: #dda071;
}

nav ul ul li.selected {
    background: #dda071;
}

nav ul li:hover ul, nav ul li:hover.selected ul {
    display: block;
}

nav li a:hover,
nav li a:focus,
nav li a:active {
    color: #660000;
}

nav li a.selected {
    color: #660000;
    text-decoration: underline;
}

/*end navigation*/
/* @group Footer */
footer {
    padding: 10px 0;
    background: #cee2f4;
    color: #999999;
    position: relative;
    clear: both;
    font-size: 90%;
    z-index: 2;
}

footer p {
    margin: 0;
    padding: 0.5em 1em;

}

footer ol li {
    display: inline;
    margin-right: 1em;
    padding-right: 1em;
}

footer a:link,
footer a:visited {
    text-decoration: none;
}

footer a:hover,
footer a:focus,
footer a:active {
    text-decoration: underline;
}

/* @end Footer */

footer nav {
    background-image: none;
    width: 75%;
    height: 30px;
    margin: 0 auto;
    float: none;
    text-align: center;

}

footer nav ul {
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline-block;
    padding: 0.2em 0;
}

footer nav ul li a, footer nav ul li a.selected {
    font-family: "Proxima Nova Condensed Regular", Calibri, "Trebuchet MS", "Gill Sans", Frutiger, Univers, "Helvetica Neue", Arial, Helvetica;
    padding: 0 5px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.banner {
    background-color: #24344A;
    color: #fff;
    width: 100%;
    margin-left: -1.0714em; /* 15px */
    padding-left: 1.0714em; /* 15px */
    -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 13, 0.2);
    -moz-box-shadow: 5px 5px 0 rgba(0, 0, 13, 0.2);
    box-shadow: 5px 5px 0 rgba(0, 0, 13, 0.2);
}

h2.banner {
    font-family: "Proxima Nova Condensed Regular", Calibri, "Trebuchet MS", "Gill Sans", Frutiger, Univers, "Helvetica Neue", Arial, Helvetica;
    margin-left: -0.7143em; /* 15px */
    padding: 0.25em 0 0.25em 0.7143em;
    text-transform: uppercase;
}

h3.banner {
    margin-right: -0.9375em; /* 15px */
    padding: 0.25em 0 0.25em 0.9375em;
}

/* @end */
/* @group photo */
#picture_month{margin-top:10px; width: 200px;height:300px; text-align:center; }
#picture_month h4{font-style:italic; font-weight:bold; color: #993300; text-transform:uppercase;}
.photo {
    background-color: #fff;
    border: 5px solid #fff;
    -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 13, 0.2);
    -moz-box-shadow: 5px 5px 0 rgba(0, 0, 13, 0.2);
    box-shadow: 5px 5px 0 rgba(0, 0, 13, 0.2);
}

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* ~~miscellaneous float/clear classes~~ */

.fltrt {
/* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
    margin-left: 8px;
}

.fltlft {
/* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
    float: left;
    margin-right: 8px;
}

.clearfloat {
/* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}