<% @page_title="Admin Menu" %>
<div class="identity">Logged in as: <%=session[:username]%> </div>
<div class="nav">
<ul>
  <li><%= link_to("Manage Content", :controller => 'subjects') %></li>
  <li><%= link_to("Manage Admin Users",:controller => 'admin_users') %></li>
  <li><%= link_to("Logout", :action => 'logout') %></li>

</ul></div>
