<hr class="space"/>
<%= image_tag('homePageHeader.png', :alt=>"Town Incorporation Of Massanutten")%>
<br><br>


<h1 style="font-size: 400%; color: red; font-style: italic; font-weight: bolder;">UNDER CONSTRUCTION</h1>


