<h1>Town Incorporation of Massanutten</h1>
<h1>Feasibility Study Final Report</h1>
<h2>September 2011</h2>
<h3>Gene Hauze<br/>Principle Investigator</h3>
<h3>Jane Lorette<br/>Editor</h3>
<br/>  <br/> <br/>  <br/><br/> <br/>
 <%= link_to("Interactive web-based Report", {:controller => 'public', :action=>'show', :id =>"introduction"}, :class=>'button') %>
            <%= link_to("Printable Final Report", {:action=>'#'}, :class=> 'button') %>
            <%= link_to("Video Summarres", {:action=>'#'}, :class=> 'button') %>

