<%= error_messages_for(@admin_user) %>

<div class="container"><%= f.label(:first_name)%>
    <%= f.text_field(:first_name) %></div>

  <div class="container"><%= f.label(:last_name)%>
    <%= f.text_field(:last_name) %></div>
 <div class="container"><%= f.label(:email)%>
    <%= f.text_field(:email) %></div>

 <div class="container"> <%= f.label(:username)%>
    <%= f.text_field(:username) %></div>

  <div class="container"><%= f.label(:password)%>
    <%= f.password_field(:password) %></div>
