<% @page_title=@page.name %>
<h2><%= @page.name %></h2>

<% @page.sections.visible.sorted.each do |section| %>

<div class="<%=section.name%>">
       <% case section.content_type
       when 'HTML' %>
         <%= (section.content).html_safe %>
    <% when 'text' %>
        <p><%= section.content %></p>
    <% end %>
  </div>
<% end %>

